#initial_code, #student_code {
    height: 200px;
    border: 1px solid lightgray;
    margin: auto;
}

#student_code {
    width: 100%;
}

#initial_code {
    width: 80%;
}

#action {
    margin-top: 10px;
    margin-bottom: 10px;
}

#code-runner {
    margin: 0;
    background-color: #eee;
    color: #5e5e5e;
    padding: .5em;
    border: 2px solid #ccc;
}

#code-runner-block {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}

#code-runner-input {
    height: 58px;
    background-color: white;
    width: 100%;
    resize: vertical;
    box-sizing: border-box;
}

#code-runner-button {
    margin-left: .5em;
    display: inline-flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#code-runner-output {
    padding: 10px;
    background: #333;
    color: #fff;
    border-radius: 5px;
}

